@import "frappe.css";

/* FONT */
* {
  font-family: JetBrainsMono NF, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 11px;
}

/* GENERAL */
window#waybar {
  background-color: rgba(0, 0, 0, 0.0);
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

/* COLOR */
window#waybar.empty #window {
  background-color: transparent;
  border: 0px;
}

#cpu,
#temperature,
#memory,
#clock,
#battery,
#network,
#pulseaudio,
#tray,
#window,
#workspaces button,
#workspaces {
  color: @text;
  background-color: @surface2;
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

#network.disconnected {
  color: @base;
  background-color: @red;
}

#battery.charging,
#battery.plugged {
  background-color: @green;
  color: @base;
}

@keyframes blink {
  to {
    background-color: @red;
    color: @base;
  }
}

#battery.critical:not(.charging) {
  background-color: @surface2;
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @yellow;
}

/* PADDING */
#pulseaudio,
#network,
#battery,
#clock,
#tray,
#window,
#workspaces {
  border-radius: 10;
  padding-left: 10px;
  padding-right: 10px;
}

#cpu {
  padding-left: 10px;
  border-radius: 10px 0px 0px 10px;
}

#temperature {
  padding-right: 10px;
  border-radius: 0px 10px 10px 0px;
}

#memory {
  padding-left: 10px;
  padding-right: 10px;
}

#network,
#battery {
  padding-right: 15px;
}
